		<div class="floor-wrapper">
		   <img class="floor-walls" src="http://habiter-estavayer.meomeo.ch/wp/wp-content/uploads/2017/08/KeyPlan_PortesDuLac_C2_A1_attique-floor.png" alt="Attique" />
		   <img class="floor-overlay-transparent" src="http://habiter-estavayer.meomeo.ch/wp/wp-content/uploads/2017/08/KeyPlan_PortesDuLac_C2_A1_attique-floor-overlay.png" alt="Attique" width="1900" height="575" usemap="#floor_image_map_7813" />
		   <map id="floor_image_map_7813" name="floor_image_map_7813" class="floor_image_map">					<area data-over="lot-c2-a1-3-13_C2-A1-3-13" href="http://habiter-estavayer.meomeo.ch/lot/lot-c2-a1-3-13/" alt="Lot 13" shape="polygon" coords="1199,55,1185,318,1186,526,888,507,888,344,1025,344,1025,232,1014,232,1015,65">					<area data-over="lot-c2-a1-3-14_C2-A1-3-14" href="http://habiter-estavayer.meomeo.ch/lot/lot-c2-a1-3-14/" alt="Lot 14" shape="polygon" coords="699,520,713,255,713,48,1015,65,1014,232,874,232,874,343,889,343,889,510,880,510">			</map>
							<img id="overlay_lot-c2-a1-3-13_C2-A1-3-13" class="floor_overlay" src="http://habiter-estavayer.meomeo.ch/wp/wp-content/themes/estavayer/images/plans/C2-A1-3-13-available.png" data-off="http://habiter-estavayer.meomeo.ch/wp/wp-content/themes/estavayer/images/plans/C2-A1-3-13-available.png" data-over="http://habiter-estavayer.meomeo.ch/wp/wp-content/themes/estavayer/images/plans/C2-A1-3-13-available-hover.png" />
				<div id="label_overlay_lot-c2-a1-3-13_C2-A1-3-13" class="label_c2-a1-3-13 availability-label-wrapper availability-label-wrapper_available">
							<div class="lot-and-rooms"><span class="lot_code">Lot 13</span> | <span class="rooms">4.5 p</div>
				<div class="availability-label">Libre</div>				</div>
							<img id="overlay_lot-c2-a1-3-14_C2-A1-3-14" class="floor_overlay" src="http://habiter-estavayer.meomeo.ch/wp/wp-content/themes/estavayer/images/plans/C2-A1-3-14-available.png" data-off="http://habiter-estavayer.meomeo.ch/wp/wp-content/themes/estavayer/images/plans/C2-A1-3-14-available.png" data-over="http://habiter-estavayer.meomeo.ch/wp/wp-content/themes/estavayer/images/plans/C2-A1-3-14-available-hover.png" />
				<div id="label_overlay_lot-c2-a1-3-14_C2-A1-3-14" class="label_c2-a1-3-14 availability-label-wrapper availability-label-wrapper_available">
							<div class="lot-and-rooms"><span class="lot_code">Lot 14</span> | <span class="rooms">4.5 p</div>
				<div class="availability-label">Libre</div>				</div>
					</div>