.vertical-header-enabled.vertical-header-center .mk-transparent-header #mk-footer,
.vertical-header-enabled.vertical-header-center .mk-transparent-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-center .mk-transparent-header #theme-page>.mk-page-section,
.vertical-header-enabled.vertical-header-center .mk-transparent-header #theme-page>.wpb_row,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #mk-footer,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #theme-page>.mk-page-section,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #theme-page>.wpb_row {
	padding-left: 270px;
}
.vertical-header-enabled.vertical-header-right .mk-transparent-header #mk-footer,
.vertical-header-enabled.vertical-header-right .mk-transparent-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-right .mk-transparent-header #theme-page>.mk-page-section,
.vertical-header-enabled.vertical-header-right .mk-transparent-header #theme-page>.wpb_row {
	padding-right: 270px;
}
.vertical-header-enabled .mk-transparent-header #mk-footer:not(.mk-footer-unfold) {
	width: auto !important;
}
.vertical-header-enabled.vertical-header-center #mk-theme-container:not(.mk-transparent-header),
.vertical-header-enabled.vertical-header-left #mk-theme-container:not(.mk-transparent-header) {
	padding-left: 270px;
}
.vertical-header-enabled.vertical-header-right #mk-theme-container:not(.mk-transparent-header) {
	padding-right: 270px;
}
