#mk-header,
#mk-footer,
.mk-go-top {
	display: none !important;
}
.mk-grid {
	min-width: 0 !important;
}
.vertical-header-enabled.vertical-header-center .mk-transparent-header #mk-footer,
.vertical-header-enabled.vertical-header-center .mk-transparent-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-center .mk-transparent-header #theme-page>.mk-page-section,
.vertical-header-enabled.vertical-header-center .mk-transparent-header #theme-page>.wpb_row,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #mk-footer,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #theme-page>.mk-page-section,
.vertical-header-enabled.vertical-header-left .mk-transparent-header #theme-page>.wpb_row,
.vertical-header-enabled.vertical-header-right .mk-transparent-header #mk-footer,
.vertical-header-enabled.vertical-header-right .mk-transparent-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-right .mk-transparent-header #theme-page>.mk-page-section,
.vertical-header-enabled.vertical-header-right .mk-transparent-header #theme-page>.wpb_row,
.vertical-header-enabled.vertical-header-center #mk-theme-container:not(.mk-transparent-header),
.vertical-header-enabled.vertical-header-left #mk-theme-container:not(.mk-transparent-header),
.vertical-header-enabled.vertical-header-right #mk-theme-container:not(.mk-transparent-header) {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.header-style-4 .mk-header-inner {
	width: 0 !important;
}
.blog-showcase-extra-info {
	left: 0 !important;
}
.mk-blog-showcase ul li.mk-blog-first-el {
	padding-right: 0 !important;
}
